.section-header{
    background-image: url('../../../images/quote.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 150px;
}
.section-header h5{
color:rgb(7, 202, 202);
}